nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list{
    margin-bottom: 0;
    display: flex;
    font-size: 3rem;
    list-style: none;
}

.nav__list-link{
    color: white;
}

.nav__list-link:hover{
    color: #61DBFB
}

.nav__list-item{
    margin-right: 5rem;
}