nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav__list{
    display: flex;
    align-items: center;
    font-size: 3rem;
    list-style: none;
}

.nav__list-link{
    color: white;
}

.nav__list-link:hover{
    color: #61DBFB
}

.form__input{
    font-size: 1rem;
    padding: .7rem 1rem;
    border-radius: 1rem;
    border: none;
    height: 2rem;
    width: 50%;
    margin-top: .5rem;
}
form{
    display: flex;
}
.form__input:focus{
    outline: none;
}