.footer{
    background-color: #363540;
    box-shadow: inset rgba(0, 0, 0, 0.603) 0px 10px 10px;
}

.footer__text{
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    padding: 2rem;
}