.footer{
    background-color: #222831;
    flex-shrink: 0;
    box-shadow: inset 0px 10px 10px;
}

.footer__text{
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    padding: 2rem;
}