.book-item{
    width: 100%;
    color: #fff;
    background-color: #494f5daf;
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.603) 8px 10px 10px;
}

.book-item:last-child{
    display: flex;
    margin-bottom: 4rem;
}

.book-item__description{
    margin-left: 1.8rem;
 }

.book-item__synopsis{
    margin-bottom: .5rem;
}

.book-item__title{
    font-size: 2.5rem;
}

.book-item__author{
    font-size: 2rem;
}

.book-item__publish-info{
    font-size: 1.6rem;
}

.book-item__synopsis{
    font-size: 1.6rem;
}

