.header-container{
    background-color:#363540;
    padding: 2rem;
    position: relative;
    margin: 0 0 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.603) 0px 10px 10px;
}

.header__banner{
  display: flex;
}

.header__logo{
  align-self: center;
    height: 5rem;
}

.header__text{
    font-size: 4rem;
    color: #fff;
}

.header__text-span{
    color: #61DBFB;
}

@media (prefers-reduced-motion: no-preference) {
    .header__logo {
      animation: header-logo-spin infinite 20s linear;
    }
  }

@keyframes header-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }