.header-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__banner{
    display: flex;
}

.header__logo{
    height: 10rem;
}

.header__text{
    font-size: 8rem;
    color: #fff;
}

.header__text-span{
    color: #61DBFB;
}

@media (prefers-reduced-motion: no-preference) {
    .header__logo {
      animation: header-logo-spin infinite 20s linear;
    }
  }

@keyframes header-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }