.search__input{
    width: 35rem;
    text-align: center;
    font-family: serif;
    font-weight: 500;
    font-size: 2rem;
    background-color: #f0f8ff;
    border-radius: 100px;
    padding: .7rem 1rem;
    border: none;
}

.search__input:focus{
    outline: none;
}
